<ul class="sidebar-menu">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
    <li class="treeview"><a><i class="fa fa-pencil-square-o"></i>Gerenciar<i class="fa fa-angle-right pull-right"></i></a>
        <ul class="treeview-menu menu-open">
            <li><a routerLink="/servicos"><i class="fa fa-th"></i> Serviços</a></li>
            <li><a routerLink="/contasBancarias"><i class="fa fa-money"></i> Contas Bancárias</a></li>
            <li><a routerLink="/receitas"><i class="fa fa-hand-o-right"></i> Receitas</a></li>
            <li><a routerLink="/despesas"><i class="fa fa-hand-o-left"></i> Despesas</a></li>
            <li><a routerLink="/relatorios"><i class="fa fa-line-chart"></i> Relatórios</a></li>
            <li><a routerLink="/contasPagar"><i class="fa fa-credit-card"></i> Contas a Pagar</a></li>
            <li><a routerLink="/contasReceber"><i class="fa fa-credit-card-alt"></i> Contas a Receber</a></li>
            <li><a routerLink="/livroCaixa"><i class="fa fa-book"></i> Livro Caixa</a></li>
        </ul>
    </li>
</ul>